body {
    background-color: rgba(215, 96, 37, 0.663);
    box-sizing: border-box;
}

.maincontainer {
    width: 500px;
    margin: auto;
}

.headingdiv {
    text-align: center;
    
}

.header {
    display: flex;
    justify-content:center;

}

.inputdiv {
    display: flex;
    flex-direction: row;
    border: 2px solid black;

}

.list {
    border: 2px solid black;
    display: flex;
    justify-content:space-between;
    border-radius: 5px;
    margin-bottom: 5px;
}

.ul {
    display: flex;
    flex-direction: column;

}



input {
    border: none;
}

input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }

button {
border: none;
}

.deletebutton {
    border: none;
    border-radius: 5px;

}

.editbutton {
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 1px;
}

select {
    margin-left: 10px;
}